.paginator li {
    display: inline-block;
}

.paginator li > a {
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 0 0.5rem;
    background-color: #343434;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.paginator li > a:hover {
    background-color: black;
    transition: 200ms ease-out;
}

.paginator .selected a {
    background-color: #cacaca;
    color: black;
    outline: 1px solid #efefef;
}

.paginator .selected a:hover {
    background-color: #cacaca;
}

.paginator .disabled > a {
    color: #ccc;
    background-color: #f8f8f8;
    border-color: #efefef;
    cursor: default;
}

.paginator .disabled > a:hover {
    background-color: #f8f8f8;
}

.paginator .break {
    margin: 0 8px;
}

.paginator li.previous > a {
    margin-right: 1rem;
}

.paginator li.next > a {
    margin-left: 1rem;
}